/* body {
  font-family: sans-serif;
} */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
 margin: 0;
 padding: 0;
 padding:0 2%;
 color: white;
 background-color: black;
 background-repeat: no-repeat;
 background-size: cover;
}

a {
  text-decoration: none;
}
