/* body {
  font-family: sans-serif;
} */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
 margin: 0;
 padding: 0;
  color: white;
  background-color: #236B8E;
  /* background-image: url('/background-1.jpeg'); */
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
