
nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
  }

  .logo {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: rgb(1, 0, 0)
  }

  .logo-link {
    font-size: 40px;
    margin-right: auto;
    color: white;
    font-weight: bold;
  }

  .welcome-user {
      margin-right: 5%;
      font-size: 20px;
      box-shadow: rgb(1, 0, 0)
  }

  .logout {
    font-size: 20px;
    color: white;
    border: solid white 1px;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0px 0px 8px rgb(255,255,255);
  }

  .login-signup-btn {
    color: white;
    border: solid white 1px;
    border-radius: 10px;
    padding: 1%;
    margin-right: 2%;
    font-size: 20px;
    box-shadow: 0px 0px 8px rgb(255,255,255);
  }


