
nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    padding: 2%;
  }

  .logo {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: #01000042;
    letter-spacing: 0.3em;
  }

  .logo-link {
    font-size: 2em;
    margin-right: auto;
    color: #01FF70;
    font-weight: bold;
  }

  .welcome-user {
      margin-right: 5%;
      font-size: 2em;
      box-shadow: rgb(1, 0, 0)
  }

  .logout {
    font-size: 1.5em;
    color: white;
    border: solid white 1px;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0px 0px 8px rgb(255,255,255);
  }

  .login-signup-btn {
    color: white;
    border: solid white 1px;
    border-radius: 10px;
    padding: 1%;
    margin-right: 2%;
    font-size: 20px;
    box-shadow: 0px 0px 8px rgb(255,255,255);
  }

  @media only screen and (max-width: 800px) {
    .logo-link {
      font-size: 150%;
      margin-right: auto;
      color: #01FF70;
      font-weight: bold;
    }
    .welcome-user {
      margin-right: 5%;
      font-size: 70%;
      box-shadow: rgb(1, 0, 0)
  }
  
  }


