

.auth-form {
    margin: 5%;
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.auth-form-input {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    width: 50%;
    height: 70%;
}

.username-password-label {
    font-size: 20px;
}

.username-password-label > p {
    font-weight: bold;
}

#username-input {
    height: 100%;
    width: 40%;
}

#password-input {
    height: 100%;
    width: 40%;
}

.username-password-divs {
    width: 100%;
}

input[type=text], input[type=password] {
    color: white;
    width: 20%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    background:none;
  }
  
  .submit-button {
    background: none;
    font-size: 18px;
    color: white;
    padding: 15px 0;
    border: none;
    cursor: pointer;
    margin-top:3%;
    width: 20%;
    border-radius: 10px;
    border: 1px solid #ababab;
    box-shadow: 0px 0px 8px rgb(255,255,255);
  }


  .error-div {
      color: red;
  }

  .testing-div {
      margin-top: 5%;
      height: 10%;
      padding: 1%;
      font-size: 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 8px rgb(255,255,255);
  }